@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;1,100&family=Space+Grotesk:wght@300..700&display=swap');

body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Space Grotesk", sans-serif;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    background: linear-gradient(90deg, #ffffff, #e0e0e0, #c0c0c0, #a0a0a0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    padding-bottom: 10px;
}

p {
    text-align: center;
    font-size: 18px;
    color: #b0b0b0;
    margin-bottom: 20px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(18, 18, 18);
    border: 1px solid rgb(30, 30, 30);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 18px;
    color: #b0b0b0;
    background: linear-gradient(30deg, #ffffff, #636363, #999999);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 8px;
}

.form-input, .form-textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: rgb(18, 18, 18);
    border: 1px solid rgb(30, 30, 30);
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.form-textarea {
    min-height: 100px;
    resize: vertical;
}

.form-input::placeholder, .form-textarea::placeholder {
    color: #888888;
}

/* Style pour le lien de contact */
.contact-link {
    color: #4A90E2; /* Bleu doux */
    text-decoration: none; /* Retire le soulignement */
    transition: color 0.3s ease; /* Transition douce au survol */
}

.contact-link:hover {
    color: #347ABD; /* Bleu un peu plus foncé au survol */
}

/* Styles pour le bouton "Envoyer" de la page de contact */
.btn-submit {
    font-size: 18px;
    color: #FFFFFF;
    background: linear-gradient(30deg, #555555, #777777, #999999); /* Couleurs gris métallisé */
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    width: 200px;
    display: block;
    margin: 20px auto;
    font-weight: bold;
}

.btn-submit:hover {
    box-shadow: 0 0 15px rgba(200, 200, 200, 0.6); /* Effet de lueur pour le survol */
}

