@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.motgris {
    background: linear-gradient(30deg, #ffffff,#ffffff, #636363, #999999, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@keyframes fadeInUpmenu {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.lien {
    color: #FFFFFF;
    margin-left: 10px;
    text-decoration: none;
    height: 30px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(30deg, #ffffff,#ffffff, #636363, #999999, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: -1px;
}

.lien:nth-child(2) {
    color: #FFFFFF;
}

.lien:active {
    transform: scale(0.97);
}

h2 {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-size: 110px;
    letter-spacing: -13px;
    font-style: normal;
    background: linear-gradient(30deg, #ffffff, #ffffff,#ffffff, #909090,#ffffff, #7e7e7e, #ffffff, #FFFFFF, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    line-height: 0.9;
    align-items: center;
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 10px;
}

/* Style uniforme pour les sections de détails de potins, de commentaires et de formulaire */
.gossiphome, .comments-section, .new-comment-form {
    background-color: rgb(11, 11, 11);
    border: 0.5px solid rgb(30, 30, 30);
    width: 800px;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
}

/* Style spécifique pour chaque section */
.gossiphome {
    height: 240px;
}

.comments-section {
    margin-top: 30px;
}

.new-comment-form {
    margin-top: 20px;
}

/* Style pour le contenu des potins */
.headergossip {
    display: flex;
    align-items: center;
    height: 30px;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    margin-top: 30px;
    letter-spacing: -1px;
}

.textgossip {
    color: #FFFFFF;
    font-size: 20px;
    background-color: rgb(18, 18, 18);
    height: 70px;
    border-radius: 15px;
    width: 90%;
    padding: 20px;
    margin: 20px auto 0;
    letter-spacing: -1px;
}

.infogossip {
    color: #FFFFFF;
    text-decoration: none;
}

.btn  {
    font-size: 16px;
    color: #FFFFFF;
    background: linear-gradient(30deg, #474747ce, #3c3c3cd7, #999999cb); /* Gris métallisé */
    border: none;
    border-radius: 10px;
    padding: 8px 15px;
    text-decoration: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    font-weight: bold;
}

/* Spécifiquement pour centrer le bouton de soumission */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn-submit {
    width: auto; /* Assure que le bouton s'ajuste au contenu */
}


.imgusertext {
    display: flex;
}

.imguser {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.comments-title {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-size: 40px;
    letter-spacing: -5px;
    background: linear-gradient(30deg, #ffffff, #ffffff, #909090, #7e7e7e, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
    padding-bottom: 10px;
}

.comment {
    background-color: #333;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.comment strong {
    color: #180671;
}

/* Formulaire de nouveau commentaire */
.new-comment-form .form-group {
    margin-bottom: 15px;
}

.new-comment-form .comment-textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    border: none;
}

/* Style pour le bouton Supprimer */
.delete-button {
    font-size: 16px;
    color: #FFFFFF;
    background: linear-gradient(30deg, #555555, #777777, #999999); /* Gris foncé pour contraste */
    border: none;
    border-radius: 10px;
    padding: 8px 15px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    font-weight: bold;
}

.delete-button:hover {
    box-shadow: 0 0 15px rgba(112, 112, 112, 0.6); /* Effet de lueur métallique douce pour l'effet au survol*/
}


